<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Template • TodoMVC</title>
  <link rel="stylesheet" href="./demo/base.css" />
  <link rel="stylesheet" href="./demo/index.css" />
</head>

<body>
  <section class="todoapp" id="app">
    <!-- 头部输入框 -->
    <header class="header">
      <h1>todos</h1>

      <!-- 输入框 -->
      <input class="new-todo" placeholder="What needs to be done?" @keyup.enter="addTodo" v-model="todoName" autofocus />
    </header>

    <!-- 记录 -->
    <section class="main">
      <input id="toggle-all" class="toggle-all" type="checkbox" />
      <label for="toggle-all">Mark all as complete</label>

      <ul class="todo-list">
        <!-- 列表 -->
        <!--:class="{ completed:true}"  有completed -->
        <!--:class="{ completed:false}"  没有completed -->
        <!-- editing -->
        <!--  -->
        <li :class="{ completed:item.done,editing:item.id===editId} " v-for="(item,index) in todoList " :key=item.id>
          <div class="view">
            <input class="toggle" type="checkbox" v-model="item.done" />
            <label @dblclick="editTodo(item.id)">{{ item.name }}</label>
            <button class="destroy" @click="delTodo(index)"></button>
          </div>
          <input @keyup.enter="updateTodo" class="edit" v-model="item.name" />
        </li>
      </ul>
    </section>

    <!-- 底部 -->

    <footer class="footer" v-show="isFooterShow">
      <span class="todo-count"><strong>{{ itemLeftCount }}</strong> item left</span>
      <button @click="clearTodo" v-if="isShowClear" class="clear-completed">
        Clear completed
      </button>
    </footer>
  </section>

  <script src="node_modules/todomvc-common/base.js"></script>
  <script src="./demo/vue.js"></script>
  <script src="./demo/index.js"></script>
</body>

</html>
